body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background: 
    linear-gradient(to bottom, #000010, #020024, #090979),
    radial-gradient(white 2px, transparent 2px);
}

section {
  display: none;/* esconde as informações*/
}

div {
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #00ccff;
  text-shadow: 0 0 10px #00ccff;
}

h2 {
  color: #00ccff;
  border-left: 4px solid #00ccff;
  padding-left: 10px;
  text-shadow: 0 0 5px #00ccff;
}

a {
  display: inline-block;
  margin: 5px;
  color: #66e0ff;
  text-decoration: none;
  transition: 0.3s;
}
/*hover é quando mause passa porsima do link(a)*/
a:hover {
  color: white;
  text-shadow: 0 0 10px #00ccff;
}

#historia, 
#origem, 
#povos, 
#constelacoes, 
#estrelas,
#Pre-historia,
#Idade\ Antiga,
#Idade\ Media,
#Idade\ Moderna,
#Idade\ Contemporanea {
  background-color: rgba(0, 0, 30, 0.7);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 200, 255, 0.3);
}

p {
  line-height: 1.6;
}

ul {
  list-style: square;
}
/* body after = elemento falso */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 50px 50px;
  opacity: 0.2;
  z-index: -1;
/*
::after → cria uma camada extra
radial-gradient → faz as estrelas
background-size → espalha elas
z-index: -1 → manda pro fundo
*/
}
